node_modules/
.bin/
base64-js/
better-sqlite3/
bindings/
bl/
buffer/
chownr/
decompress-response/
deep-extend/
detect-libc/
end-of-stream/
expand-template/
file-uri-to-path/
fs-constants/
github-from-package/
ieee754/
inherits/
ini/
mimic-response/
minimist/
mkdirp-classic/
napi-build-utils/
node-abi/
once/
prebuild-install/
pump/
rc/
readable-stream/
safe-buffer/
semver/
simple-concat/
simple-get/
string_decoder/
strip-json-comments/
tar-fs/
tar-stream/
tunnel-agent/
util-deprecate/
wrappy/
ws/
